* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
    margin: 0;
    color: rgb(250, 246, 242);
}

.bg {
    background: url("./pexels-josh-sorenson-995301.jpg") no-repeat center center/cover;
    position: absolute;
    width: 100vw;
    height: 100vh;
    filter: brightness(70%); /*small percentage make darker img, bigger percentage more lighter*/
}

.keys {
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.key {
    border: .3rem solid black;
    border-radius: 1rem;
    margin: .2rem;
    padding: .3rem 0;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    text-shadow: 0 0 .5rem black;
}

.playing {
    transform: scale(1.1);
    border-color: chartreuse;
    box-shadow: 0 0 1rem gold;
}

kbd {
    display: block;
    font-size: 1.9rem;    
}

.sound {
    font-size: .9rem;
    letter-spacing: .1rem;
    color: chartreuse;
    font-weight: bold;
}